build/
*.o
*.obj
*.exe
*.dll
*.so
.*
!.gitignore
*~
*.kde*
!Makefile.am
Makefile
Makefile.in
configure
m4/
*.m4
autom4te.cache
config.*
depcomp
ltmain.sh
install-sh
missing


Release
Debug
ipch

*.sdf
