# 配置文件示例, avbot 运行的时候读取配置文件 /etc/qqbotrc 或则 ~/.qqbotrc
# 配置文件的字段就是 --help 提示的字段
# 例如 --help 提示使用  --qqnum 设置 QQ号码, 则配置文件里就用 qqnum=XX 来设置


# QQ 是必须配置的账户

qqnum=QQ号码
qqpwd=QQ密码

# IRC 也是必须设置的账户 幸运的是, IRC 支持无需注册即可使用
# 因此这里设定一个没有被占用的昵称即可
ircnick=avbot使用的irc用户名
ircpwd=登录irc用的密码

# 不像 QQ , 加入的QQ群是记录在服务器的, IRC 可没有这种机制. 需要登录IRC后手动加入频道
# 因此在这里设置加入的频道, 如果要加入多个频道, 用逗号隔开即可.
# IRC 频道都以 # 开头, 但是配置文件将 # 作为注释, 
# 于是 avbot 只需要你设置不带 # 的频道名. 例如加入 #gentoo-cn 就只需要写 gentoo-cn 即可
ircrooms=进入的IRC频道

# XMPP 是可选设置的账户


xmppuser= XMPP 账户, 带 @
xmpppwd=密码

# 如果XMPP服务器使用的不是 @ 后面的那个地址, 需要在这里设定使用的服务器地址
# 可以不是 IP 地址
# 主要原因是 avbot 暂没有支持 SRV 记录查询
xmppserver=

# 设置邮件账户, avbot 定期向服务器查询新邮件
# 并且允许使用 .qqbot mail to "example@example.com" 这个命令发送邮件
# 注意, QQ邮箱可以只写QQ号码哦~
# avbot 暂时不支持 TLS. 
mail=邮件地址 
mailpasswd=密码

# 如果是 example@example.com 这样的地址, avbot 默认认为pop3服务器地址为 pop.example.com
# 如果你的邮箱使用的不是这个地址,请使用这个选项设定
pop3server=

# 如果是example@example.com 这样的地址, avbot 默认认为smtp服务器地址为 smtp.example.com
# 如果你的邮箱使用的不是这个地址,请使用这个选项设定
smtpserver=

# map 是很多人容易出错的配置选项
# avbot 支持多个协议,登陆多个聊天室,然后在多个聊天室之间转发
# 但这不代表avbot转发所有的聊天室消息
# 只有显式配置到map里的同组聊天才能相互转发

# 例如 avbot 可以同时加入 QQ群 123 和 345, 同时加入 IRC gentoo-zh 和 gentoo-cn 
# 但是只把 123 和 gentoo-cn 捆绑, 345 和 gentoo-zh 捆绑
# 这样的配置 avbot 是可以支持的, 这也是 map 设计的缘由
# 那么, 这样的map写法就是 map=qq:123,irc:gentoo-cn;qq:345,irc:gentoo-zh
# 是不是简单浅显.
# 如果 avbot 接收到了邮件, 那么只有包含了 mail 的那个组能看到 avbot 收到的邮件
# map=qq:123,irc:gentoo-cn;qq:345,irc:gentoo-zh,mail

map=

# preambleqq preambleirc preamblexmpp
# 这三个用来控制 avbot 转发时使用的前缀。默认qq转发出去使用的是 "qq(昵称）："
# 也就是 preambleqq 的默认设置是 preambleqq=qq(%a):
# 在这里 %a 表示自动选择合适的昵称。有群名片则使用名片，无则使用QQ昵称。因为有时一个人是没有设置群名片的。
# 可以使用的格式字符有 %r(QQ群号)，%R(QQ群名称)  %n(发言QQ昵称) %q(发言QQ号)， %c(发言QQ群名片)
# 比如说，我要 QQ转发的时候使用的前缀为 QQ(群号：QQ号：昵称) 则 preambleqq 的设置字符串就是
# preambleqq=QQ(%r:%q:%n)

# IRC 和 XMPP 与此类似， %r 在 IRC 里指 IRC 频道名， %a 是发言者的 IRC 昵称。
# %r 在  XMPP 里指的是 XMPP 房间名。%a 是发言者的昵称。


preambleqq=qq(%a):
preambleirc=%a说:
preamblexmpp=(%a)


